body {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
header div {
  display: flex;
  gap: 50px;
  align-items: center;
}
header div nav {
  display: flex;
  gap: 20px;
}
header input {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  background-color: rgba(255, 255, 255, 0);
}

.cont {
  background: linear-gradient(to right, white, #D4E7FE);
}

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  padding-bottom: 70px;
}
.section1 aside {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: start;
}
.section1 aside h1 {
  font-size: 50px;
}
.section1 aside p {
  color: #656464;
  font-size: 16px;
  width: 406px;
}
.section1 aside button {
  background-color: #217BF4;
  padding: 15px 40px;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  background-color: #E8F1FE;
  color: #217BF4;
}
.section1 aside div button:first-child {
  background-color: #217BF4;
  padding: 15px 40px;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}
.section1 aside div button:last-child {
  background-color: #217BF4;
  padding: 15px 40px;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  background-color: white;
  border: 1px solid #217BF4;
  color: #217BF4;
}

.section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
}
.section2 .aside1 {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: start;
}
.section2 .aside1 h1 {
  font-size: 36px;
}
.section2 .aside1 h4 {
  font-size: 18px;
  color: #217BF4;
}
.section2 .aside1 p {
  color: #656464;
  font-size: 16px;
  width: 380px;
}
.section2 .aside1 div {
  display: flex;
  gap: 10px;
}
.section2 .aside1 p:last-child {
  color: #171648;
}
.section2 .aside2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  gap: 30px;
}
.section2 .aside2 div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  margin-top: 70px;
  align-items: start;
}
.header1 .aside1 {
  display: flex;
  gap: 30px;
}
.header1 .box, .header1 .box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  width: 260px;
  height: 274px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(180, 179, 179, 0.368627451);
  border-radius: 14px;
}
.header1 .box div, .header1 .box1 div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header1 .box div h4, .header1 .box1 div h4 {
  font-size: 20px;
  font-weight: 500;
  color: #0A093D;
}
.header1 .box div h3, .header1 .box1 div h3 {
  font-weight: 600;
  font-size: 16px;
  color: #217BF4;
}
.header1 .box p, .header1 .box1 p {
  color: #8C8C8C;
}
.header1 .box h2, .header1 .box1 h2 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #217BF4;
}
.header1 .box1 {
  box-shadow: none;
  border: 1px solid rgba(180, 179, 179, 0.368627451);
}
.header1 .box1 h2 {
  color: #4A4A56;
  font-weight: 500;
}
.header1 .aside2 {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: start;
}
.header1 .aside2 h1 {
  width: 360px;
  font-size: 36px;
}
.header1 .aside2 h4 {
  font-size: 18px;
  color: #217BF4;
}
.header1 .aside2 p {
  color: #656464;
  font-size: 16px;
  width: 365px;
}
.header1 .aside2 button {
  background-color: #217BF4;
  padding: 15px 40px;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  box-shadow: 0px 0px 20px rgba(33, 123, 244, 0.2588235294);
}

.section3 {
  margin-top: 80px;
  background: linear-gradient(rgba(241, 246, 253, 0), #F1F6FD, #F1F6FD, #FFFFFF);
}

.header2, .header3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  justify-content: start;
  flex-direction: column;
  row-gap: 15px;
}
.header2 h4, .header3 h4 {
  font-size: 18px;
  color: #217BF4;
}
.header2 h1, .header3 h1 {
  font-size: 36px;
}
.header2 p, .header3 p {
  color: #656464;
  font-size: 16px;
  width: 350px;
  text-align: center;
}
.header2 .boxs, .header3 .boxs {
  margin-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.header2 .boxs .bix1, .header3 .boxs .bix1 {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
  width: 480px;
  height: 140px;
  border-radius: 15px;
  box-shadow: 0px 0px 19px rgba(127, 127, 127, 0.1294117647);
  background-color: white;
}
.header2 .boxs .bix1 p:last-child, .header3 .boxs .bix1 p:last-child {
  margin-top: 10px;
  width: 280px;
  font-size: 16px;
  font-weight: 400;
  text-align: start;
}
.header2 .boxs .bix1 h3, .header3 .boxs .bix1 h3 {
  font-size: 24px;
  font-weight: 600;
  color: #2F2C4A;
}

.header3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  margin-top: 70px;
}
.header3 .width {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 474px;
  height: 72px;
  background-color: #F0F4F8;
  border-radius: 14px;
}
.header3 button {
  background-color: #217BF4;
  padding: 15px 40px;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  width: 150px;
}
.header3 h3 {
  font-size: 16px;
  font-weight: 500;
  color: #2F2C4A;
}
.header3 .kartas {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
.header3 .kartas .karta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 270px;
  height: 300px;
  border-radius: 14px;
  box-shadow: 0px 0px 19px rgba(116, 115, 128, 0.1019607843);
  background-color: white;
}
.header3 .kartas .karta img {
  margin-top: 30px;
}
.header3 .kartas .karta h2 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #2F2C4A;
}
.header3 .kartas .karta h5 {
  font-size: 16px;
  font-weight: 400;
  color: #656464;
}

.karta1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 270px;
  height: 300px;
  border-radius: 14px;
  border: 2px solid rgba(243, 243, 243, 0.5019607843);
  background-color: white;
}
.karta1 img {
  margin-top: 30px;
}
.karta1 h2 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #2F2C4A;
}
.karta1 h5 {
  font-size: 16px;
  font-weight: 400;
  color: #656464;
}

.section4 {
  margin-top: 70px;
  background-color: #E5F0FD;
  height: 520px;
}

.header4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.header4 h4 {
  font-size: 18px;
  color: #217BF4;
}
.header4 h1 {
  width: 350px;
  font-size: 36px;
}
.header4 p {
  color: #656464;
  font-size: 16px;
  width: 300px;
}
.header4 .divleft {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: start;
}
.header4 .divleft div {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: -20px;
}
.header4 .img {
  width: 700px;
  height: 500px;
}

.header5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  margin-top: 80px;
  justify-content: start;
  flex-direction: column;
  row-gap: 15px;
}
.header5 h4 {
  font-size: 18px;
  color: #217BF4;
}
.header5 h1 {
  font-size: 36px;
}
.header5 .cards {
  margin-top: 50px;
  display: flex;
  gap: 70px;
}
.header5 .cards .card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 340px;
  height: 459px;
}
.header5 .cards .card img {
  border-radius: 30px;
}
.header5 .cards .card div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header5 .cards .card div p {
  font-size: 20px;
  font-weight: 600;
  width: 273px;
  color: #2F2C4A;
}
.header5 .cards .card h5 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #656464;
}
.header5 .cards .card h6 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #217BF4;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 90px;
  background-color: #2B2B39;
}

.header6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.header6 .aside1 {
  display: flex;
  gap: 100px;
}
.header6 .aside1 div {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.header6 .aside1 div h3 {
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.header6 .aside1 div p {
  color: #E7E7E7;
  font-size: 16px;
  font-weight: 400;
}
.header6 .aside2 {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: start;
  color: white;
}
.header6 .aside2 h3 {
  width: 180px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.header6 .aside2 p {
  width: 299px;
  color: #E7E7E7;
  font-size: 16px;
  font-weight: 400;
}
.header6 .aside2 div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 339px;
  height: 48px;
  border: 1px solid white;
  border-radius: 12px;
}
.header6 .aside2 div button {
  background-color: #217BF4;
  padding: 15px 40px;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 14px;
  width: 130px;
  padding: 15px;
}
.header6 .aside2 div input {
  border: none;
  width: 150px;
  height: 10px;
  padding: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #717179;
  background-color: rgba(10, 9, 61, 0);
}/*# sourceMappingURL=style.css.map */