$maincolor: #217BF4;

body {
    font-family: sans-serif;
}

@mixin container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

@mixin buttons {
    background-color: $maincolor;
    padding: 15px 40px;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}

@mixin aside {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: start;
}

* {
    margin: 0;
    padding: 0;
}

header {
    @include container();

    div {
        display: flex;
        gap: 50px;
        align-items: center;

        nav {
            display: flex;
            gap: 20px;
        }
    }

    input {
        border: none;
        outline: none;
        border-bottom: 1px solid gray;
        background-color: rgba(255, 255, 255, 0);
    }

}

.cont {
    background: linear-gradient(to right, white, #D4E7FE);
}

.section1 {
    @include container();
    padding-bottom: 70px;

    aside {
        @include aside();

        h1 {
            font-size: 50px;
        }

        p {
            color: #656464;
            font-size: 16px;
            width: 406px;
        }

        button {
            @include buttons();
            background-color: #E8F1FE;
            color: $maincolor;
        }

        div {
            button:first-child {
                @include buttons;
            }

            button:last-child {
                @include buttons;
                background-color: white;
                border: 1px solid $maincolor;
                color: $maincolor;
            }
        }
    }
}

.section2 {
    @include container();
    margin-top: 50px;

    .aside1 {
        @include aside();

        h1 {
            font-size: 36px;
        }

        h4 {
            font-size: 18px;
            color: $maincolor;
        }

        p {
            color: #656464;
            font-size: 16px;
            width: 380px;
        }

        div {
            display: flex;
            gap: 10px;
        }

        p:last-child {
            color: #171648;
        }
    }

    .aside2 {
        @include container();
        gap: 30px;

        div {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
}

.header1 {
    @include container();
    margin-top: 70px;
    align-items: start;

    .aside1 {
        display: flex;
        gap: 30px;
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 30px;
        width: 260px;
        height: 274px;
        background-color: white;
        box-shadow: 0px 0px 10px #b4b3b35e;
        border-radius: 14px;

        div {
            display: flex;
            gap: 10px;
            align-items: center;

            h4 {
                font-size: 20px;
                font-weight: 500;
                color: #0A093D;
            }

            h3 {
                font-weight: 600;
                font-size: 16px;
                color: $maincolor;
            }
        }

        p {
            color: #8C8C8C;
        }

        h2 {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 600;
            color: $maincolor;
        }
    }

    .box1 {
        @extend .box;
        box-shadow: none;
        border: 1px solid #b4b3b35e;

        h2 {
            color: #4A4A56;
            font-weight: 500;
        }
    }

    .aside2 {
        @include aside();

        h1 {
            width: 360px;
            font-size: 36px;
        }

        h4 {

            font-size: 18px;
            color: $maincolor;
        }

        p {
            color: #656464;
            font-size: 16px;
            width: 365px;
        }

        button {
            @include buttons();
            box-shadow: 0px 0px 20px #217BF442;
        }
    }
}

.section3 {
    margin-top: 80px;
    background: linear-gradient(#F1F6FD00, #F1F6FD, #F1F6FD, #FFFFFF);
}

.header2 {
    @include container();
    justify-content: start;
    flex-direction: column;
    row-gap: 15px;

    h4 {
        font-size: 18px;
        color: $maincolor;
    }

    h1 {
        font-size: 36px;
    }

    p {
        color: #656464;
        font-size: 16px;
        width: 350px;
        text-align: center;
    }

    .boxs {
        margin-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;

        .bix1 {
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 20px;
            width: 480px;
            height: 140px;
            border-radius: 15px;
            box-shadow: 0px 0px 19px #7F7F7F21;
            background-color: white;

            p:last-child {
                margin-top: 10px;
                width: 280px;
                font-size: 16px;
                font-weight: 400;
                text-align: start;
            }

            h3 {
                font-size: 24px;
                font-weight: 600;
                color: #2F2C4A;
            }
        }
    }
}

.header3 {
    @include container();
    @extend .header2;
    margin-top: 70px;

    .width {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 474px;
        height: 72px;
        background-color: #F0F4F8;
        border-radius: 14px;
    }

    button {
        @include buttons();
        width: 150px;
    }

    h3 {
        font-size: 16px;
        font-weight: 500;
        color: #2F2C4A;
    }

    .kartas {
        margin-top: 40px;
        display: flex;
        gap: 30px;

        .karta {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 270px;
            height: 300px;
            border-radius: 14px;
            box-shadow: 0px 0px 19px #7473801A;
            background-color: white;

            img {
                margin-top: 30px;
            }

            h2 {
                margin-top: 20px;
                font-size: 24px;
                font-weight: 600;
                color: #2F2C4A;
            }

            h5 {
                font-size: 16px;
                font-weight: 400;
                color: #656464;
            }
        }
    }
}

.karta1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 270px;
    height: 300px;
    border-radius: 14px;
    border: 2px solid #F3F3F380;
    background-color: white;

    img {
        margin-top: 30px;
    }

    h2 {
        margin-top: 20px;
        font-size: 24px;
        font-weight: 600;
        color: #2F2C4A;
    }

    h5 {
        font-size: 16px;
        font-weight: 400;
        color: #656464;
    }
}

.section4 {
    margin-top: 70px;
    background-color: #E5F0FD;
    height: 520px;
}

.header4 {
    @include container();

    h4 {
        font-size: 18px;
        color: $maincolor;
    }

    h1 {
        width: 350px;
        font-size: 36px;
    }

    p {
        color: #656464;
        font-size: 16px;
        width: 300px;
    }

    .divleft {
        @include aside();

        div {
            display: flex;
            gap: 10px;
            align-items: center;
            margin-left: -20px;
        }
    }

    .img {
        width: 700px;
        height: 500px;
    }
}

.header5 {
    @include container();
    margin-top: 80px;
    justify-content: start;
    flex-direction: column;
    row-gap: 15px;

    h4 {
        font-size: 18px;
        color: $maincolor;
    }

    h1 {
        font-size: 36px;
    }

    .cards {
        margin-top: 50px;
        display: flex;
        gap: 70px;

        .card {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            width: 340px;
            height: 459px;

            img {
                border-radius: 30px;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                p {
                    font-size: 20px;
                    font-weight: 600;
                    width: 273px;
                    color: #2F2C4A;
                }
            }

            h5 {
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                color: #656464;
            }

            h6 {
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                color: $maincolor;
            }
        }
    }
}

.footer {
    padding-top: 50px;
    padding-bottom: 70px;
    margin-top: 90px;
    background-color: #2B2B39;
}

.header6 {
    @include container();

    .aside1 {
        display: flex;
        gap: 100px;

        div {
            display: flex;
            flex-direction: column;
            row-gap: 25px;

            h3 {
                color: white;
                font-size: 20px;
                font-weight: 500;
            }

            p {
                color: #E7E7E7;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

    .aside2 {
        @include aside();
         color: white;

        h3 {
            width: 180px;
            color: white;
                font-size: 20px;
                font-weight: 500;
        }
         p {
            width: 299px;
                color: #E7E7E7;
                font-size: 16px;
                font-weight: 400;
            }
            div{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 339px;
                height: 48px;
                border: 1px solid white;
                border-radius:12px ;
                button{
                @include buttons();
                background-color: white;
                color: rgb(0, 0, 0);
                font-size: 14px;
                width: 130px;
                padding: 15px;
            }
            input{
                border: none;
                width: 150px;
                height: 10px;
                padding: 15px;
                font-size: 14px;
                font-weight: 400;
                color: #717179;
                background-color: #0a093d00;
            }
            }
            
    }

}
.header7{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #20202D;
    p{
        font-size: 14px;
        font-weight: 400;
        color: #F6F6F6;
    }
    div{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}